<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/dmresource/images/favicon.png') }}" />
    {% block title %}{% endblock %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% block stylesheets %}
        {% include "DMResourceBundle:Partial:_stylesheets.html.twig" %}     
    {% endblock stylesheets %}

    
  </head>
  <body>
   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">D.M</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

     <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Document Manager</p>
                <div class="list-group">
                    <a href="{{ path('post_new_document')}}" class="list-group-item active">add new doc</a>
                    <a href="{{ path('list_documents')}}" class="list-group-item">list Docs</a>
                    <a href="#" class="list-group-item">Docs Logs</a>
                </div>
            </div>

            <div class="col-md-9">

               

                <div class="well">                 
       

                   

                </div>

                 {% block content %}
          
        {% endblock content %}

            </div>

        </div>



    {% block javascripts %}
     {% include "DMResourceBundle:Partial:_javascripts.html.twig" %}
    {% endblock javascripts %}

    
</body>
</html>
