<div class="col-md-9" ng-controller="docDetails">

    <div class="thumbnail">     

    	<a id="single_1" class="fancybox" href="{{ vich_uploader_asset(documentt, 'file') }}" ><img  src="{{ vich_uploader_asset('[['documentt']]', 'file') }}" alt="[[ documentt.imageName ]]" /></a>

         
             <div class="caption-full">
            	<h4 class="pull-right">[[ documentt.createdOrigineAt | date ]] </h4>
	            <h4><a href="#">[[ documentt.titre ]] </a></h4>
	            
	            <p> [[ documentt.description]] </p>

	            <h4 class="pull-left">  Posted at:[[ documentt.createdAt | myfilter:date ]] </h4>
	           
	        </div>
    </div>
</div>


