{% extends "DMResourceBundle::layout.html.twig" %}
{% set ActivePage = "listArchives" %}

{% block title %}
    <title>List - New application</title>
{% endblock %}

{% block content %}

	<!-- Page Content -->
    <div id="page-content-wrapper">       

        <div class="container-fluid">
            <div class="row">
                <div ng-controller="docList" class="col-md-10 col-md-offset-1">
                	<h1>Welcome to the Post:index page</h1>
                	{% verbatim %}
                		<div ng-repeat="document in documents">
                			hello:
	                	  <h1>{{ document.titre }}<h1>
	                	</div>
                		
                	{% endverbatim %}
                	
				</div>
			</div>
		</div>
	</div>
{% endblock content %}